@import url("reset.css");
div.index{  min-width:800px;
width:expression((documentElement.clientWidth < 800) ? "800px" : "auto" ); 
height:100%; min-height:200px;_height: 200px; behavior:expression(this.style.height=(document.documentElement.offsetHeight<200)?"200px":"100%"); background-color:transparent;background:url(../images/bg.jpg);}
/*.menuline { background:url(images/menu_line.gif); height:93px; width:1px;}*/
.menuItem {float:left;}
.menuItem a{display:block;  width:109px; background-repeat:no-repeat; font-weight:bold; text-decoration:none; font-size:12px; text-align:center;  line-height:12px;height:30px;padding-top:59px;}
/*.menuItem a:hover{cursor:default;}*/
.menuItem a:hover{ background:#000; filter:alpha(Opacity=70, Style=0);-moz-opacity:0.7;opacity: 0.7; color:#999;}
/* for scrollable begin*/
div.scrollable { /* required settings */  position:relative;overflow:hidden; height: 89px; margin: 0 auto; width: 551px; } 
div.scrollable ul.items { /* this cannot be too large */ width:20000em; margin-left:px;position:absolute; float:left; } 
div.scrollable ul li{ border-right:#7c0008 solid 1px;}
.menu_position{position:relative;background:url(../images/menu_bg.jpg);width:85%;margin:0 auto;border-left:#FFF 4px solid;border-right:#FFF 4px solid;border-bottom:#FFF 4px solid;margin-top:-5px;}
.menu_frame{position:relative;margin: 0 auto; width: 603px; height:89px;}
.menu_frame #arrowleft{ position:absolute; width:26px; height:26px; right:-20px; top:33px;}
.menu_frame #arrowleft a{ display:block;background:url(../images/menu_a_right.gif); width:26px; height:26px; }
.menu_frame #arrowleft a:hover{background:url(../images/menu_a_right_on.gif);}
.menu_frame #arrowright { position:absolute; width:26px; height:26px; left:-20px; top:33px;}
.menu_frame #arrowright a{display:block;background:url(../images/menu_a_left.gif); width:26px; height:26px; }
.menu_frame #arrowright a:hover{background:url(../images/menu_a_left_on.gif);}
.browse{background:pink;   position:absolute; }
.browse.disabled {visibility:hidden !important;}   
/* for scrollable end*/

.subItems{position:absolute;z-index:1000; list-style-type:none;}
.subItems ul{ }
.subItems .subItem {position: relative; width:159px; padding:5px 3px; background:url(../images/submenu_center.gif); color:#efeeee; _margin-top:-2px;}
.submenuTop{ background:url(../images/submenu_top.gif) no-repeat; width:165px; height:14px; }
.submenuBottom{background:url(../images/submenu_bottom.gif) no-repeat; width:165px; height:7px; *margin-top:-10px;_margin-top:0px;}
.subItems .subItem.hover {background:url(../images/submenu_hover.gif); width:159px; display:block; color:#FFF;  }
.arrow{ background:url(../images/arrow.gif) no-repeat; width:14px; height:14px; position:relative; margin-left:10px;}
.browse2{background:green;  position:absolute; top:50px; }
.browse2.disabled { visibility:hidden !important;}   

/*Header start*/
.header_position_index{position:relative;border-left:#FFF 4px solid;border-right:#FFF 4px solid;border-top:#FFF 4px solid;width: 85%;margin: 0 auto;margin-top:30px;height:82px;background:black;}
.logo{float:left; background:url(../images/logo.jpg) no-repeat; width:202px; height:50px; margin-top:17px; margin-left:30px; }
.model-name{float:left; font-weight:bold; color:#CCC; text-decoration:none; font-size:15px; margin-top:35px; margin-left:30px;}
/*Modify 12/09*/
.header-right {float:right; margin-top:26px;  margin-right:40px; position:absolute; right:0px;}
.header-right li{float:left; } 
.header-right .home-icon{background:url(../images/i_home.jpg); width:25px; height:25px; }
.header-right .text{margin-top:5px; margin-left:5px; }
.header-right .text a{font-weight:bold; color:#CCC; text-decoration: none; font-size:12px; text-align:center; }
.header-right .text a:hover{ text-decoration: underline;  }
.header-right .language-icon{background:url(../images/i_language.jpg); width:25px; height:25px; margin-left:15px; }
.header-right .logout-icon{background:url(../images/i_logout.jpg); width:25px; height:25px; margin-left:15px; }
.header_position_index .top_line{ position:absolute; bottom:0px; background:#c6c6c6; width:100%; height:9px; left:0px; font-size:1px;}
/*Header end*/
