.m01_on{ background:url(../images/m01_on.jpg); border-left:#7c0008 1px solid; color:#fff; }
.m01_off{ background:url(../images/m01.jpg); border-left:#7c0008 1px solid;color:#000;}

.m02_on{ background:url(../images/m02_on.jpg);color:#fff; }
.m02_off{ background:url(../images/m02.jpg);color:#000; }

.m03_on{ background:url(../images/m03_on.jpg);color:#fff;}
.m03_off{ background:url(../images/m03.jpg);color:#000;}

.m04_on{ background:url(../images/m04_on.jpg);color:#fff;}
.m04_off{ background:url(../images/m04.jpg);color:#000;}

.m05_on{ background:url(../images/m05_on.jpg); border-right:#7c0008 1px solid;color:#fff;}
.m05_off{ background:url(../images/m05.jpg); border-right:#7c0008 1px solid;color:#000;}

.m06_on{ background:url(../images/m06_on.jpg);border-left:#7c0008 1px solid;color:#fff;}
.m06_off{ background:url(../images/m06.jpg);border-left:#7c0008 1px solid;color:#000; }

.m07_on{ background:url(../images/m07_on.jpg);color:#fff;}
.m07_off{ background:url(../images/m07.jpg);color:#000;}

.m08_on{ background:url(../images/m08_on.jpg);color:#fff;}
.m08_off{ background:url(../images/m08.jpg);color:#000;}

