#vmtpmContainer {width:650px; height: auto; border: solid 1px black; position: relative; overflow:auto;}
#vmTmpName {width:100%; margin-top:10px;}

.widgetWrapper{border: solid 1px green; overflow: auto; margin-top:10px;}
.tmpWidget {float:left; width:100px; height:120px; border: solid 1px blue; margin-left:10px;}
.tmpWidget .tmpIcon {margin:0 auto; width:70px; height:70px; border: solid 1px red;}
.tmpWidget .name {margin:0 auto; text-align: center; border: solid 1px red; margin-top:5px; font-size:12px;}

.widgetWrapper.os .tmpWidget {width:140px;}
.widgetWrapper.os .tmpWidget .tmpIcon {width:90px;}

.widgetWrapper.db .tmpWidget {width:140px;}
.widgetWrapper.db .tmpWidget .tmpIcon {width:90px;}
.tmpbbar{text-align:right; margin-top:10px; margin-right:10px; margin-bottom:10px;}