.scrollMenu {margin:0px; border: solid 3px blue; position:absolute; left:100px;}
.scrollMenu li {list-style-type: none; border:0px;}

.scrollMenu .menuItem{border: solid 1px red; width:100px; height:100px;}
.scrollMenu .menuItem .subMenu{position:absolute; left:500px;}