<div class="popup_frame" >
<!--Unit Explain start-->
<div class="explain">
<div><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b><b class="r4"></b></div>
<div class="explain_text">Wireless Network Name (also known as SSID) is used to identify the wireless network. The Security Mode and Password are 
for guarding the safety of the transferring data within the wireless network.</div>
<div><b class="r4"></b><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"></b></div></div>
<!--Unit Explain End-->
<!--Set area start-->
<div class="data_frame"><ul>
<!--level 1 title start--><li class="title">Add Protocol</li>
<!--level 1 title end-->
<!--level 1 start-->
<li class="set1"> 
<div class="addline">&nbsp;</div>
<!--Sample 1 start-->
<div class="w_text">
  <ul>
    <li class="left_table">Protocol :</li>
    <li class="right_table">
      <select name="power_level" id="power_level">
        <option selected="selected">TCP</option>
        <option>UDP</option>
        <option>ICMP</option>
        <option>other</option>
      </select></li>
  </ul>
</div>
<div class="w_text">
  <ul>
    <li class="left_table">Protocol Number :</li>
    <li class="right_table">
      <input name="RN_EnterName3" size="20" maxlength="20" onblur="chkName(this)" type="text" />
      (0-255)</li>
  </ul>
</div>
<div class="w_text"><ul>
    <li class="left_table">&nbsp;</li>
    <li class="right_table"><input type="button" name="sysAddUserBtn" value="Add" id='addnewshareBtn'/></li></ul></div>
<div class="addline">&nbsp;</div>
    </li>
<li class="title">General</li>
<li class="set1">
<div class="w_text">
  <ul>
    <li class="left_table">Wireless Radio </li>
    <li class="right_table">
      <input name="ssid_state" id="radio" type="radio" value="enable" checked="checked" />
      Enabled
      <input name="ssid_state" id="radio2" type="radio" value="disable" />
      Disabled </li>
  </ul>
</div> </li>
<!--level 1 sample-1  end-->
<li class="title">SSID</li>
<li class="title2"><span class="i_title2">Title2</span></li>
<li class="set2"> <div class="w_text">
  <ul>
    <li class="left_table">Wireless Power Level :</li>
    <li class="right_table">
      <select name="power_level" id="power_level">
        <option selected="selected">Full</option>
        <option>75%</option>
        <option>50%</option>
        <option>25%</option>
        <option>6%</option>
      </select>
    </li>
  </ul>
</div>
</li>
<li class="set2"> <div class="w_text">
  <ul>
    <li class="left_table">802.11 mode :</li>
    <li class="right_table">
      <select name="80211bg_mode" id="80211bg_mode">
        <option selected="selected">Mixed - 802.11b, 802.11g, 802.11n </option>
        <option>802.11n </option>
        <option>802.11g </option>
        <option>802.11b </option>
      </select>
    </li>
  </ul>
</div>
</li>
<!--Please add this tag--><li class="space"> </li>
<!--Note define start-->
<li class="noteframe"> <div class="w_text"><span class="i_note">Note:</span></div><div class="note_text">&nbsp;&nbsp;Router: In this mode, the device is supported to connect to internet via ADSL/Cable Modem. PCs in LAN ports share the same IP to ISP through WAN Port. Access Point: In this mode, all Ethernet ports are bridged together. The device allows the wireless-equipped computer can communicate with a wired network. </div></li>
<!--Note define end-->
<li class="space"> </li>

</ul></div>
<!--Set area end-->
</div>
