.cls1 { border:3px dashed blue;width:20px; height:20px; display:block;}

.cls2 { border:3px dashed blue;width:100px; height: 100px;  display:block;}



.cls3 {border:3px dashed blue; width:300px ; height: 300px; background:#808000;; display:block;}