.a_on{ background:url(images/icons/i_m01_on.jpg)}
.a_off{ background:url(images/icons/i_m01.jpg)}

.b_on{ background:url(images/icons/i_m02_on.jpg)}
.b_off{ background:url(images/icons/i_m02.jpg)}

.c_on{ background:url(images/icons/i_m03_on.jpg)}
.c_off{ background:url(images/icons/i_m03.jpg)}

.d_on{ background:url(images/icons/i_m04_on.jpg)}
.d_off{ background:url(images/icons/i_m04.jpg)}

.e_on{ background:url(images/icons/i_m05_on.jpg)}
.e_off{ background:url(images/icons/i_m05.jpg)}

.f_on{ background:url(images/icons/i_m06_on.jpg)}
.f_off{ background:url(images/icons/i_m06.jpg)}

.g_on{ background:url(images/icons/i_m07_on.jpg)}
.g_off{ background:url(images/icons/i_m07.jpg)}

.h_on{ background:url(images/icons/i_m08_on.jpg)}
.h_off{ background:url(images/icons/i_m08.jpg)}

.i_on{ background:url(images/icons/i_m09_on.jpg)}
.i_off{ background:url(images/icons/i_m09.jpg)}

.j_on{ background:url(images/icons/i_m10_on.jpg)}
.j_off{ background:url(images/icons/i_m10.jpg)}

