	
    ul{
       list-style-type: none; 
    }
    
    body {
        margin: 0px;
        height:100%;
}
    .scrollMenu{
		overflow:hidden;
		clear:left;
        left:300px;
        top:100px;
		border: solid 1px black;
		list-style-type: none;
		width:350px;
		height:80%;
        position:absolute;
        margin:0px;
	}

.scrollMenu .focusItem{border: solid 2px black;}
.scrollMenu .menuItem{border: solid 1px red; width:100px; height:100px;position: absolute;}
.scrollMenu .menuItem.selected{border: solid 2px blue; width:100px; height:100px;position: absolute; z-index:100;}

.scrollMenu .menuItem .subMenuItems{border: solid 2px blue; display:none; left:500px; top:300px; position:fixed;}
.scrollMenu .menuItem.selected .subMenuItems{display:block;}