
h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: inherit;
    font-weight: bold;
    margin: 0;
    text-rendering: optimizelegibility;
}



/* DDPanel CSS */
/* Reset */
body,img,p,h1,h2,h3,h4,h5,h6,ul,ol {margin:0; padding:0; list-style:none; border:none;}
/* End Reset */

body {font-size:11px; font-family:Tahoma, Arial,Verdana,Sans-Serif; /*background: #ababab;*/}

body {
   /* overflow: hidden !important;*/
    padding-top: 45px;
}

body {
   /*background: url("http://wbpreview.com/previews/WB000348T/images/bg/px_by_Gre3g.png") repeat scroll 0 0 #FAFAFA;*/
  /* background: url("http://wbpreview.com/previews/WB01PF84M/assets/app/img/linen-bg.jpg") repeat scroll 0 0 #FAFAFA;*/
   
 
   background: #F8F8F8;
    color: #404040;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    min-width:1024px;
}

/* Colors */
.widget {background:#6e6e6e;}
.widget h3 {color:#FFF;margin-left:3px;}
/* End Colors */

/* Columns section */
#columns {
 width:100%;
}
#columns .column {
    float: left;
    width: 100%;
	/* Min-height: */
	min-height: 5px;
    padding-top:5px;
	padding-bottom:5px;
	margin-top:5px;
	margin-left:5px;
	height: auto !important; 
	
	/*height: 400px;*/
}

.widget-placeholder { border: 2px dotted #6e6e6e;}
#columns .column .widget, #columns .column .widget-placeholder  { margin: 8px 1px 8px 1px; }



#columns .widget {
    /*margin: 30px 20px 0 20px;*/
    /*set panel border*/
	padding: 1px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
}

#columns .widget .widget-head {
    /*color: #000;*/
    overflow: hidden;
    width: 100%;
    height: 29px;
    line-height: 20px;
	/*background:url(../images/db_header.gif);*/
}
#columns .widget .widget-head h3 {
    padding-left:6px;
	font-size:11px;
    float: left;
}
#columns .widget .widget-content {
    /*background: #fff;*/
    padding: 5px 0;
    /*color: #000;*/
	/*border:1px solid #d8d8d8;*/
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-radius-bottomleft: 2px;
    border-radius-bottomright: 2px;
    line-height: 1.2em;
    overflow: hidden;
}
#columns .widget .widget-content tr.title {font-weight:bold;}
#columns .widget .widget-content td {padding:3px 6px;}
#columns .widget .widget-content td .alarm {color:#F00;}
#columns .widget .widget-content pre {
    padding: 0.5em 5px;
    color: #EEE;
    font-size: 11px;
}
#columns .widget .widget-content ul {
    padding: 5px 0 5px 20px;
    list-style: disc;
}
#columns .widget .widget-content ul li {padding: 3px 0;}
#columns .widget .widget-content ul.images {
    padding: 7px 0 0 0;
    list-style: none;
    height: 1%;
}
#columns .widget .widget-content ul.images li {
    display: inline;
    float: left;
}
#columns .widget .widget-content ul.images img {
    display: inline;
    float: left;
    margin: 0 0 7px 7px;
}
.col {background:#f0f0f0;}
.topnbar {display:block;width:100%;height:14px;position:relative;}
.topnbar .fail {display:block;width:80%;height:14px;border:1px solid #a51b1b;position:absolute;top:0;left:0;}
.topnbar .fail .show {background:url(../images/pbar_red.gif);height:14px;}
.topnbar .warn {display:block;width:80%;height:14px;border:1px solid #bb7515;position:absolute;top:0;left:0;}
.topnbar .warn .show {background:url(../images/pbar_yellow.gif);height:14px;}
.topnbar .normal {display:block;width:80%;height:14px;border:1px solid #1f8305;position:absolute;top:0;left:0;}
.topnbar .normal .show {background:url(../images/pbar_green.gif);height:14px;}
.topnbar .per {display:block;width:20%;position:absolute;top:0;right:0;text-align:center;line-height:14px;}
/* End Columns section */



/* JS-Enabled CSS */
.widget-head {
margin-left:-1px; margin-top:-1px;
}
.widget-head a.remove  {
    float: right;
    display: inline;
    background: url(../images/buttons.gif) no-repeat 0 0;

    width: 14px;
    height: 14px;
    margin: 4px 4px 8px 0;
    text-indent: -9999em;
    outline: none;
}
.widget-head a:hover.remove {background: url(../images/buttons.gif) no-repeat -42px 0;}
*html .widget-head a:hover.remove  {
    float: right;
    display: inline;
    background: url(../images/buttons.gif) no-repeat 0 0;
    width: 14px;
    height: 14px;
    margin: 4px 4px 8px 0;
    text-indent: -9999em;
    outline: none;
}

.widget-head a.setting  {
    float: right;
    display: inline;
    background: url(../images/buttons.gif) no-repeat -98px 0;
    width: 14px;
    height: 14px;
    margin: 4px 4px 8px 0;
    text-indent: -9999em;
    outline: none;
}
.widget-head a:hover.setting {background: url(../images/buttons.gif) no-repeat -126px 0;}
*html .widget-head a:hover.setting  {
    float: right;
    display: inline;
    background: url(../images/buttons.gif) no-repeat -98px 0;
    width: 14px;
    height: 14px;
    margin: 4px 4px 8px 0;
    text-indent: -9999em;
    outline: none;
}

.widget-head a.refresh  {
    float: right;
    display: inline;
    background: url(../images/buttons.gif) no-repeat -84px 0;
    width: 14px;
    height: 14px;
    margin: 4px 4px 8px 0;
    text-indent: -9999em;
    outline: none;
}
.widget-head a:hover.refresh {background: url(../images/buttons.gif) no-repeat -112px 0;}
*html .widget-head a:hover.refresh  {
    float: right;
    display: inline;
    background: url(../images/buttons.gif) no-repeat -84px 0;
    width: 14px;
    height: 14px;
    margin: 4px 4px 8px 0;
    text-indent: -9999em;
    outline: none;
}

.widget-head a.expand  {
    float: right;
    display: inline;
    background: url(../images/buttons.gif) no-repeat -28px 0;
    width: 14px;
    height: 14px;
    margin: 4px 4px 8px 0;
    text-indent: -9999em;
    outline: none;
}
.widget-head a:hover.expand {background: url(../images/buttons.gif) no-repeat -70px 0;}
*html .widget-head a:hover.expand  {
    float: right;
    display: inline;
    background: url(../images/buttons.gif) no-repeat -28px 0;
    width: 14px;
    height: 14px;
    margin: 4px 4px 8px 0;
    text-indent: -9999em;
    outline: none;
}

.widget-head a.collapse  {
    float: right;
    display: inline;
    background: url(../images/buttons.gif) no-repeat -14px 0;
    width: 14px;
    height: 14px;
    text-indent: -9999em;
    margin: 4px 3px 8px 4px;
    outline: none;
}
.widget-head a:hover.collapse {background: url(../images/buttons.gif) no-repeat -56px 0;}
*html .widget-head a:hover.collapse  {
    float: right;
    display: inline;
    background: url(../images/buttons.gif) no-repeat -14px 0;
    width: 14px;
    height: 14px;
    text-indent: -9999em;
    margin: 4px 3px 8px 4px;
    outline: none;
}


/*#column2 .widget-placeholder { margin: 30px 20px 0 20px; }*/



.widget h3{margin-top:-7px;}

.menubar{
    box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
}

#columns .newWidget{
	box-shadow:  0px 0px 20px rgba(255, 255, 34, 0.7);	
}

#columns ul.hoveredHolder{
	/*border: dashed 1px #eaeaea;*/
	background: #E8EFF7;
    border-radius: 4px;
}

#columns .widget .widget-content {
 max-height:220px; 
 overflow: auto;
}

#columns .widget .widget-setting  {
    display:none;
}


#columns .widget-head .icon  {
    float:left; 
	margin-left:10px;
	margin-top:7px;
}

#columns .widget-head h3.title  {
    font-size: 15px;
   
    line-height: 18px;
    margin-right: 3em;
    position: relative;
    top: 12px;
    color:#eaeaea;
	width: auto;
}

.modal-body .widget-content{padding-top:10px;}

#columns .widget-head .btn-toolbar{
    float:right; 
	opacity:0.6; 
	margin-top:4px;
	margin-right:3px;
}

#columns .widget-head .btn{
    line-height:16px;
}

.topBG{
 background: url('../images/blurry-lights-background.jpg') repeat fixed 0px -35px; height:80px;
/* background: url('../images/bg/aa.jpg') repeat fixed 0px -430px; height:80px;*/
 
}


.bottombar{
box-shadow:4px 4px 12px 5px rgba(20%,20%,40%,0.5); 
}