@charset "utf-8";
@import url("reset.css");
*html{overflow-x: hidden;}
div.index{background:url(../images/bg.jpg);}
body{background:url(../images/center_bg.gif);background-attachment: fixed;}
body.loginbg{background:url(../images/bg.jpg);}
.wrap{  position:relative; width:80%; height:100%; margin:0 auto;}
.title_index{ font-size:18px; font-weight:bold;}
.content_word_title{font-size:14px;font-weight:bold; }
.space{ display:block; height:10px; clear:both; width:100%;}
.Method{ font-weight:bold; font-size:14px;}
.blod{ font-weight:bold; }
ul{ clear:both; }
a{outline:none;}
a:hover{outline:none;}
.clearfix:after {content: ".";display: block;height: 0; clear: both;visibility: hidden;}
@media screen and (-webkit-min-device-pixel-ratio:0) {.br{ clear:both;  }}
.w_blue{color:#0b70fc; }
.addline{ display:block; width:100%;margin:0 auto; line-height:10px; margin-bottom:5px; border-bottom:#999 1px dotted; padding-bottom:5px;}
/*tab page*/
ul.redline {border-bottom:4px solid #d02f32;font-size:12px;font-weight:bold;width:90%;position:relative;margin:0 auto;margin-top:10px;}
ul.tabline {border-bottom:4px solid #d02f32;font-size:2px;font-weight:bold;width:90%;position:relative;margin:0 auto;margin-top:2px;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */
/*page title*/
.unit_title{width:90%;display:block;margin:0 auto;font-size:16px;font-weight:bold; color:#FFFFFF;}
/*Login start*/
.wraplogin{  position:relative; width:580px; height:320px; margin:0 auto; margin-top:60px;}
.header_position{position:relative;border-left:#147fbf 4px solid;border-right:#147fbf 4px solid;border-top:#147fbf 4px solid;width: 100%;margin: 0 auto;height:72px;background:url(../images/top_bg.gif);}
.logo{float:left; width:132px; height:50px; top:18px; left:15px; position:absolute; z-index:30; }
.logincenter{ display:block; height:238px; width:100%; border-left:#147fbf 4px solid;border-right:#147fbf 4px solid;border-bottom:#147fbf 4px solid;  background:url(../images/center_bg.gif); position:relative; }
.login_left_pic{ position:absolute;height:231px; width:187px; }
.login_right{position:absolute;right:20px;top:22px;height:200px;width:330px; color:#fff;}
.login_button{ display:block; float:right; margin-right:10px; height:30px; margin-top:10px;}
.login_button input{cursor: pointer; padding: 1px 3px; line-height: 1.4em; width:auto; overflow:visible;ont-family:Arial, Helvetica, sans-serif; font-weight: bold; color:#000; float:right; margin-left:5px;}
/*** FORM BLOCK ELEMENTS ***/
form label{float: left;}
form .error{color: #c00;}
form label.error{color: #c00;font-size: 100%;display: none;margin:0px 0px 10px 0px;padding:3px 0px 0px 5px; width:250px;}
#simplemodal-overlay { background:url(images/bg.gif);}
#simplemodal-container {background-color: #000;solid #444; padding:12px;}
.selectorMark { margin: 2px;border-color: #0000FF; border-style: solid; border-width: 1px;}
/*Login end*/

/*Content Define start*/
.data_frame2{display:block; width:98%; margin:0 auto; padding-top:10px; cursor:default;}
.data_frame2 ul li{ display:block; line-height:25px;}
.content_frame{width:90%; background-color:#ffffff; margin:0 auto; display:block; margin-bottom:20px; padding-top:5px; padding-bottom:35px;}
.explain{display:block; width:92%; margin:0 auto; padding-top:20px;}
.set_explain{display:block; width:100%;margin:0 auto;color:#000000; font-size:12px; line-height:18px; margin-bottom:15px; border-bottom:#999 1px dotted; padding-bottom:10px;}
.data_frame{display:block; width:92%; margin:0 auto; padding-top:20px; cursor:default;}
.data_frame ul li{ display:block; line-height:25px;}
div b{display:block;height: 1px;overflow:hidden;}
b.r1{margin: 0 6px;background:#bababa;}
b.r2{margin: 0 3px;border-left:3px solid #bababa;border-right:3px solid #bababa; background:#e4e4e4;}
b.r3{margin: 0 2px;border-left:1px solid #bababa;border-right:1px solid #bababa;background:#e4e4e4;}
b.r4{margin: 0 1px;border-left:1px solid #bababa;border-right:1px solid #bababa;background:#e4e4e4;}
.content{margin:0px;padding:6px;border-left:1px solid #bababa;border-right:1px solid #bababa;}
.explain_text{ display:block; margin:0 auto; padding:10px 14px;border-left:1px solid #bababa;border-right:1px solid #bababa; background:#e4e4e4;}
.title{font-size:14px;font-weight:bold;}
.title2{font-size:12px; font-weight:bold; color:#161616;  display:block;}
.title3{font-size:12px; font-weight:bold; color:#161616; }
span.i_title2{ background:url(../images/i_title2.gif) no-repeat; width:4px; height:4px; background-position:left 5px; padding-left:10px;}
.set1{display:block; padding-left:12px;}
.set1 a{ text-decoration:underline;}
.set1 a:hover{text-decoration:none; }
.set2{display:block;padding-left:25px; color:#333333;}
.set2note{display:block; padding-left:25px; margin-top:20px;}
.infodisplay{ display:block; width:100%;margin:0 auto;color:#000000; font-size:12px; }
.input_big{ display:block; width:90%; margin:0 auto; overflow:auto;}
.w_text{ display:block;margin:0 auto;color:#000000; font-size:12px;line-height:13px;width:100%; margin:3px 0px;}
.w_text ul li{float:left;}
.w_text ul li.all_table{display:block; width:98%;}
.w_text ul li.left_table{display:block; width:35%;}
.w_text ul li.right_table{ display:block; width:63%;}
.w_text2{ display:block; width:100%;margin:0 auto;color:#000000; font-size:12px; line-height:13px;}
.one_right{margin-left:20px;}
/*for wrireless general*/
.w_text3{ display:block; width:100%;margin:0 auto;color:#000000; font-size:12px;}
.w_text3 ul li{float:left;}
.w_text3 ul li.left_table{display:block; width:45%;}
.w_text3 ul li.right_table{ display:block; width:55%;}

/*table define*/
.w_table{ display:block; width:100%;margin:0 auto;color:#000; font-size:12px;  margin-bottom:2px; clear:both; }
.table_frame{border: 1px solid #c0c0c0; }
.top_font{font-size:12px;color:#fff;border-right-width: 1px;border-right-style: solid;border-right-color:#9E9E9E;text-indent:5px;padding:6px 3px;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #9E9E9E; font-weight:bold; background:url(../images/table_top.gif); line-height:13px; }
.top_font2{font-size:12px;border-right-width: 1px;border-right-style: solid;border-right-color:#9E9E9E;text-indent:5px;padding:3px 3px;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #9E9E9E; font-weight:bold;background:url(../images/table_top.gif);padding-top:16px;color:#fff;line-height:13px; }
td.table_font{border-bottom: 1px solid #e5e5e5;background-color:#ffffff;font-size:12px;text-indent:5px;line-height:13px;padding:2px 3px; margin-right:50px;}
td.table_font2{border-bottom: 1px solid #e5e5e5; border-right:1px solid #D8D8D8;background:url(../images/i_wps_top.jpg) repeat-x;font-size:12px;text-indent:5px;; font-weight:bold;line-height:13px;padding:6px 3px;}
/*notes*/
.noteframe{ display:block; width:98%; margin:0 auto; }
.i_note{ display:block; background-image:url(../images/i_note.gif); height:28px; background-repeat:no-repeat; line-height:28px; background-position:left 5px;font-size:12px; font-weight:bold; color:#000000;text-indent:18px;}
.note_text{display:block; width:100%;margin:0 auto;color:#000000; font-size:12px;line-height:18px; }
.note_text ul li{float:left;}
.note_text ul li.left_table{display:block; width:20px;line-height:14px;}
.note_text ul li.right_table{ display:block; width:90%;line-height:14px;}
/*Warning*/
.i_warning{ display:block; background:url(../images/i_caution.gif) no-repeat; height:28px; line-height:28px; background-position:left 5px;font-size:12px; font-weight:bold; color:#e70000;text-indent:18px;}
.warning_text{display:block; width:100%;margin:0 auto;color:#e70000; font-size:12px;line-height:18px; }
.warning_text ul li{float:left;}
.warning_text ul li.left_table{display:block; width:20px;line-height:14px;}
.warning_text ul li.right_table{ display:block; width:90%;line-height:14px;}

/*Button*/
.buttonframe{display:block; width:100%;margin:0 auto; margin-bottom:25px;*margin-bottom:5px;}
.button_position{ float:right;}
.button_position input{cursor: pointer; padding: 1px 3px; line-height: 1.4em; width:auto; overflow:visible;ont-family:Arial, Helvetica, sans-serif; font-weight: bold; color:#000;}
.w_table input{cursor: pointer; padding: 1px 3px; line-height: 1.4em; width:auto; overflow:visible;ont-family:Arial, Helvetica, sans-serif; font-weight: bold; color:#000;}
.one_right input{cursor: pointer; padding: 1px 3px; line-height: 1.4em; width:auto; overflow:visible;ont-family:Arial, Helvetica, sans-serif; font-weight: bold; color:#000;}
/*Modify icon*/
.i_modify{ position:relative;display:block; height:22px; margin:0 auto; width:100%; text-align:center;}
.i_modify ul{float:left;position:relative;left:50%;}
.i_modify ul li{float:left;position:relative;right:50%; width:18px; height:18px;}
.i_modify ul li a{display:block;}
.i_modify ul li a.edit{  background:url(../images/i_edit.gif); width:18px; height:18px;  margin:0 auto;}
.i_modify ul li a:hover.edit{background:url(../images/i_edit_on.gif);}
.i_modify ul li a.delete{background:url(../images/i_delete.gif); width:18px; height:18px;margin:0 auto;}
.i_modify ul li a:hover.delete{background:url(../images/i_delete_on.gif);}
.i_modify ul li a.cert{  background:url(../images/i_godown.gif) no-repeat; width:18px; height:14px;  margin:0 auto;}
.i_modify ul li a:hover.cert{opacity: .8; filter:  Alpha(Opacity=80); -moz-opacity:0.8; }
.i_modify ul li a.moveN{background:url(../images/i_move.gif); width:18px; height:18px;margin:0 auto;}
.i_modify ul li a:hover.moveN{background:url(../images/i_move_on.gif);}



/*Content Define */
.popup_frame{ margin:0 auto; display:block;  padding-top:-20px; padding-bottom:25px;}
/*Delete Define*/
.deleteframe{ display:block; height:65px; line-height:18px; background:none; margin-top:20px;}

/*WPS Define */
.wps{ display:block; width:98%; border:#c6c6c6 1px solid; margin:0 auto;}
.wps_top{background:url(../images/i_wps_top.jpg); height:56px; border-bottom:#dadbdd dotted 1px; }
.wps_bottom{background:url(../images/i_wps_bottom.jpg) repeat-x; background-position:right 4px; height:21px;}

/*Wait Define */
.wait{ display:block; padding:15px; border:solid 2px #8cb2df; margin:0 auto;width:350px; background:#497693;}
.wait ul li{ float:left; display:block; }
.wait ul li.i_loading{ background:url(../images/loading.gif); width:48px; height:48px; display:block; margin-left:80px;}
.w_red{ font-size:16px; font-weight:bold; color:#fff; margin-left:15px;}
.white_12{ color:#CCC; font-size:12px;}

/*network map*/
.content_frame2{width:90%;  margin:0 auto; display:block; margin-bottom:20px; padding-top:5px; padding-bottom:35px;cursor:default;}
.networkmapframe{ width:100%; display:block; height:430px; position:relative; margin-left:-15px;   }
#mapView{ position:absolute; width:100%; height:auto;color:#bfbfbf;}
.iconView{width:100%; height:90%; position:relative; }
.listView{width:100%; height:90%; position:relative; top:25px; }
.modesetting{ position:absolute; display:block; height:25px; right:20%; width:400px; z-index:9000000000; line-height:25px; }
.modesetting ul li{ float:right; display:block; }
.viewmode{ display:block; height:21px; width:42px; border:2px #999 solid;}
.viewmode ul li{ float:left; }
.iconmode a{display:block; width:21px; height:21px;  background:url(../images/network/i_mapview.gif);}
.iconmode a.hover{background:url(../images/network/i_mapview_on.gif);}
.iconmode a.highlight{background:url(../images/network/i_mapview_on.gif);}
.listmode a{display:block; width:21px; height:21px;  background:url(../images/network/i_listview.gif);}
.listmode a.hover{background:url(../images/network/i_listview_on.gif);}
.listmode a.highlight{background:url(../images/network/i_listview_on.gif);}
.iconfrmae{ position:relative; width:100%; height:100%; margin-top:35px;}
.connect{ display:block; width:100%; position:relative; height:100%;}
.disconnect{ display:block; width:100%; position:relative; height:100%;}
.i_down_bn{ position:relative; margin:0px 20%;}
.i_down_bn a{ background:url(../images/network/i_button.gif) no-repeat; width:86px; height:29px; display:block; text-decoration: none; line-height:29px; color:#FFF; font-weight:bold; text-align:center;}
.i_down_bn a:hover{ background:url(../images/network/i_button_on.gif) no-repeat;}
.i_down_bn img{ position:absolute; right:-5px; top:14px; *right:-3px;}

/*Device define*/
.i_internet{position:absolute;width:55px;height:55px;z-index:10;display:block;left: 71px;}
.i_modem{ position:absolute; background:url(../images/network/i_moden.gif) no-repeat; height:51px; width:71px; right:-60px;top:-20px;}
.i_router{ position:absolute; height:104px; width:131px; right:-54px;top:-11px; z-index:10;_right:-70px;}
.i_device{ display:block;height:52px; width:52px; margin:0 auto;}
.i_wifi{ position:absolute; background:url(../images/network/i_wifi.png); width:26px; height:33px; right:-5px;}
.i_usb_s{ position:absolute; background:url(../images/network/i_usb.gif); width:26px; height:33px; right:-5px;}
.i_wan{ position:absolute; width:29px; height:33px; right:3px; z-index:2;}

/*Line define*/
.i_internet_line{ position:absolute; width:35%; background:url(../images/network/i_green_line2.gif) repeat-x; height:7px; left:32px; top:22px;z-index:9;}
.i_modom_line{position:absolute; width:7px; background:url(../images/network/i_green_line.gif) repeat-y; height:130%; left:22px; top:72px;z-index:8;}
.i_router_line{position:absolute;width:100px;background:url(../images/network/i_green_line2.gif) repeat-x;height:7px;right:0px;top:145px;z-index:8;}
.rightwirelessline{width:60px; position:absolute;height:7px; background:url(../images/network/i_green_line2.gif) repeat-x; z-index:8; top:50px;}
.rightwirelessline2{width:60px; position:absolute;height:7px; background:url(../images/network/i_green_line2-1.gif) repeat-x; z-index:8; top:50px;}
.rightwiredline{width:60px; position:absolute;height:7px; background:url(../images/network/i_green_line2.gif) repeat-x; z-index:8; }

.i_internet_dline{ position:absolute; width:35%; background:url(../images/network/xline_error.gif) repeat-x; height:7px; left:32px; top:22px;z-index:9;}
.i_modom_dline{position:absolute; width:7px; background:url(../images/network/yline_error.gif) repeat-y; height:130%;  left:22px; top:72px;z-index:8;}
/*wireless device*/
.mapviewright{display:block;width:100%;top:0px; z-index:50; position:relative;}
.wireless_frame{ display:block; height:100%; width:97%; padding-left:48px; }
.wireless_device{position:relative;width:100%; }
.wireless_device ul li{ float:left; width:87px; height:89px; display:block; margin:5px 8px;  position:relative; }
.wired_frame{ display:block; height:100%; width:97%; padding-left:48px; }
.wired_device{position:relative;width:100%; top:50px; }
.wired_device ul li{ float:left; width:87px; height:89px; display:block; margin:5px 8px;  position:relative; }
.wired_device ul li.rightspace{ width:15%; display:block;}
.iconviewbn{ position:absolute; width:97%; z-index:500000; _margin-left:3px; }
.iconviewbn ul li{width:87px; height:89px; display:block; margin:5px 8px;  position:relative; float:left;}
.iconviewbn ul li a{ color:#FFFFFF; text-decoration:none;}
.iconviewbn ul li a:hover{ color:#FFFFFF; text-decoration:none;}

.clickMenu{cursor: default; position:absolute; left:-8px; z-index:1000;top:50px;}
.clickMenu ul{position:relative; left:-8px;_left:-8px; min-width: 86px;//float: left;/*ie again*///width: 86px;/*and again*/ z-index:5000;*margin-top:40px!important;  _margin-top:20px;}
.clickMenu div.outerbox{display: none;min-width: 86px; /* firefox produces animation-flickering when the box is bigger than this :/ */}
.clickMenu div.inner{//top: 20px; /* for ie */left: 0;margin: 0;}
.clickMenu div.inner div.outerbox{margin: 0;left: 98px;//left: 90px; /* for ie */top: -3px;}
.clickMenu li{position: relative;/*white-space: nowrap; does not really work in ie */}
.clickMenu li.main{ position:absolute;background:url(../images/network/i_button.gif) no-repeat; width:86px; height:29px; display:block; text-decoration: none; _padding-top:5px; line-height:29px; color:#FFF; font-weight:bold; text-align:center; cursor:pointer; _margin-left:4px;}
.clickMenu li.main ul{ position:absolute; top:8px; left:-28px; *top:-12px!important; _top:0px; _left:-36px;z-index:2000;}
.clickMenu li.main li{  height:25px;  text-align:center;  margin-top:-8px; _margin-top:-8px}
.clickMenu li.main li a{display:block; height:22px; width:131px; line-height:22px; color:#FFF;text-align:center; background:#a0000a; background:url(../images/network/i_menu_center.gif); text-decoration:none; }
.clickMenu li.main li a:hover{background:#a0000a; background:url(../images/network/i_menu_center_on.gif);}
.clickMenu li.main li.menutop{ background:url(../images/network/i_menu_top.gif) no-repeat; width:131px; height:15px; display:block;*margin-top:-20px!important;_margin-top:-12px;}
.clickMenu li.main li.menubottom{ background:url(../images/network/i_menu_bottom.gif) no-repeat; width:131px; height:11px; display:block;_margin-top:-10px}

.arrowbtnL{ position:absolute; display:block; width:38px; height:38px; right:15px; top:51%; z-index:80000000;}
.arrowbtnL a{background:url(../images/i_left_arrow.gif); display:block; width:38px; height:38px; }
.arrowbtnL a:hover{alpha(opacity=70);opacity:0.7;zoom:1;background:url(../images/i_left_arrow.gif); }
.arrowbtnL.disable{display:none;}

.arrowbtnR{ position:absolute; display:block; width:38px; height:38px; right:15px; top:35%; z-index:80000000;}
.arrowbtnR a{background:url(../images/i_right_arrow.gif); display:block; width:38px; height:38px; }
.arrowbtnR a:hover{alpha(opacity=70);opacity:0.7;zoom:1;background:url(../images/i_right_arrow.gif); }
.arrowbtnR.disable{display:none;}
.naviView{width:100%; height:auto; position:absolute;}
.arrowbnText{color:#CCCCCC;}

.textarea{  position:relative;display:block; overflow:auto; height:170px; width:380px; border:1px #969696 solid; padding:5px 5px; background:#dedede;}
.textarea ul li{ position:relative; float:left; width:55px; height:52px; display:block; margin:5px 15px 28px 15px; _margin:0px 6px 0px 6px;}
.textarea ul li a{text-decoration:none; padding:10px;}
.textarea ul li a span{ position:absolute; top:60px; width:75px; text-align:center; line-height:10px; left:-5px;}
.textarea ul li a.igame span{ position:absolute; top:56px; width:75px; text-align:center; line-height:10px; left:-2px;}
.textarea ul li a.ipc{width:55px;height:52px;display:block;background-position:7px 5px;background-image: url(../images/network/i_pc.gif);background-repeat: no-repeat;}
.textarea ul li a.igame{ background:url(../images/network/i_game.gif) no-repeat; width:59px; height:58px; display:block;background-position:7px 5px;}
.textarea ul li a.iprinter{ background:url(../images/network/i_print.gif) no-repeat; width:51px; height:58px; display:block;background-position:5px 2px;}
.textarea ul li a.istb{ background:url(../images/network/i_stb.gif) no-repeat; width:55px; height:52px; display:block;background-position:5px 3px;}
.textarea ul li a.icamera{ background:url(../images/network/i_camera.gif) no-repeat; width:55px; height:52px; display:block;background-position:7px 5px;}
.textarea ul li a.iserver{ background:url(../images/network/i_server.gif) no-repeat; width:55px; height:52px; display:block;background-position:6px 5px;}
.textarea ul li a.itelephone{ background:url(../images/network/i_phone.gif) no-repeat; width:55px; height:52px; display:block;background-position:7px 5px;}
.textarea ul li a.irouter{ background:url(../images/network/i_router2.gif) no-repeat; width:51px; height:58px; display:block;background-position:7px 2px;}
.textarea ul li a:hover{background-color:#dedede;  padding:6px 6px 12px 6px;  border:1px #666 dotted; text-decoration:none; }
.textarea ul li a:focus{background-color:#dedede; padding:6px 6px 12px 6px; border:2px #666 solid; }

/*Info popup*/
.infoblue{ color:#003399;}

/*Security unit start*/
.security{position:relative; display:block; width:600px; height:190px;z-index: 4;margin:0 auto;}
.level_word{position:absolute;width:480px;left: 165px;top:0;}
.level_word ul li{float:left; display:block; width:100px; text-align:center; font-size:12px; font-weight:bold;line-height:12px;}
.level_item{position:absolute;width:150px;top:75px;line-height:12px;}
.level_item ul li{display:block;font-size:12px; font-weight:bold; margin:10px 0px;line-height:12px; text-align:right; padding-right:15px; margin-bottom:20px;  margin-top:20px;}
.level_color{position:absolute;width:500px;left: 150px;top:30px;}
.level_color ul li{float:left; display:block; }
.level_color ul li.s01{ display:block; background:url(../images/i_s_bar_1.gif) repeat-x; height:18px; width:130px;}
.level_color ul li.s02{ display:block; background:url(../images/i_s_bar_3.gif) repeat-x; height:18px; width:130px;}
.level_color ul li.s03{ display:block; background:url(../images/i_s_bar_5.gif) repeat-x; height:18px; width:130px;}
.draw{position:absolute;width:400px;left: 165px;top: 65px; height:7px;font-size:0px;}
.draw ul li{float:left; display:block;height:7px;font-size:0px; }
.draw ul li.draw_center{ display:block;height:7px; width:395px; background:url(../images/i_draw_center.gif) repeat-x;}
li span.triangle{background:url(../images/i_s_bar_triangle.gif) repeat-x;position:absolute;width:8px;height:6px; margin-left:60px; margin-top:20px;}
#low{position:absolute;width:94px;left: 180px;top: 80px;text-align: center;}
#low ul li{display:block; margin:10px 0px; background:url(../images/i_accept_off.gif) center no-repeat;}
#low_on{position:absolute;width:94px;left: 180px;top: 80px;text-align: center;}
#low_on ul li{display:block; margin:10px 0px; background:url(../images/i_accept_on.gif) center no-repeat;}
#medium{position:absolute;width:94px;left: 311px;top: 80px;text-align: center;}
#medium ul li{display:block; margin:10px 0px; background:url(../images/i_accept_off.gif) center no-repeat;}
#medium ul li.block{display:block; margin:10px 0px; background:url(../images/i_block_off.gif) center no-repeat;}
#medium_on{position:absolute;width:94px;left: 311px;top: 80px;text-align: center;}
#medium_on ul li{display:block; margin:10px 0px; background:url(../images/i_accept_on.gif) center no-repeat;}
#medium_on ul li.block{display:block; margin:10px 0px; background:url(../images/i_block_on.gif) center no-repeat;}
#high{position:absolute;width:94px;left: 443px;top: 80px;text-align: center;}
#high ul li{display:block;font-size:13px; font-weight:bold; margin:10px 0px; color:#cdcdcd;background:url(../images/i_block_off.gif) center no-repeat;}
#high_on{position:absolute;width:94px;left: 443px;top: 80px;text-align: center;}
#high_on ul li{display:block;font-size:13px; font-weight:bold; margin:10px 0px; color:#005893;background:url(../images/i_block_on.gif) center no-repeat;}
.dataword{ position:absolute; top:-80px; left:30px; line-height:15px;}
#low .dataword{font-size:13px; font-weight:bold; margin:10px 0px; color:#cdcdcd;}
#low_on .dataword{font-size:13px; font-weight:bold; margin:10px 0px;color:#005893;}
#medium .dataword{font-size:13px; font-weight:bold; margin:10px 0px; color:#cdcdcd; margin-left:-28px; margin-top:-5px;}
#medium_on .dataword{font-size:13px; font-weight:bold; margin:10px 0px;color:#005893;margin-left:-28px; margin-top:-5px;}
#high .dataword{font-size:13px; font-weight:bold;  color:#cdcdcd;}
#high_on .dataword{font-size:13px; font-weight:bold; color:#005893;}
#custom{position:absolute;width:100px;left:470px;top: 65px;text-align: center;}
#custom ul li{display:block;font-weight:bold; margin:10px 0px; color:#cdcdcd; line-height:12px;}
#error_mssage{position:absolute;width:474px;height:106px;background-color:#000000;left: 155px;top: 80px; z-index:200;border: 3px solid #dee1e4; opacity: .8; filter:  Alpha(Opacity=80); -moz-opacity:0.8; padding:20px 15px;}
#error_mssage ul li{ display:block; margin:0 auto; margin-top:10px;}
#error_mssage ul li a{ color:#2e8de9;}
#error_mssage ul li a:hover{ text-decoration:none; color:#A6DDFB;}
.security .content_title{font-size:14px;color:#fff; font-weight:bold; }
.security .content_word4{font-size:12px;color:#fff; }
/*Security unit end*/
/* for wireless beginning */
.w_slider{position:relative; display:block; width:500px; height:100px;z-index: 4;margin:0 auto;}
.w_level_color{position:absolute;width:510px;left: 150px;top: 20px;}
.w_level_color ul li{float:left; display:block; }
.w_level_color ul li.s01{ display:block; background:url(../images/i_s_bar_1.gif) repeat-x; height:18px; width:130px;}
.w_level_color ul li.s02{ display:block; background:url(../images/i_s_bar_3.gif) repeat-x; height:18px; width:130px;}
.w_level_color ul li.s03{ display:block; background:url(../images/i_s_bar_5.gif) repeat-x; height:18px; width:130px;}
.w_draw{position:absolute;width:400px;left: 165px;top: 55px; height:7px;font-size:0px;}
.w_draw ul li{float:left; display:block;height:7px;font-size:0px; }
.w_draw ul li.w_draw_center{ display:block;height:7px; width:390px; background:url(../images/i_draw_center.gif) repeat-x;}
.w_level_color li span.triangle{background:url(../images/i_s_bar_triangle.gif) repeat-x;position:absolute;width:8px;height:6px; margin-left:60px; margin-top:20px;}
#w_no{position:absolute;width:94px;left: 180px;top:-20px;text-align: center;}
#w_no ul li{display:block;font-size:13px; font-weight:bold; margin:10px 0px; color:#cdcdcd;}
#w_no_on{position:absolute;width:94px;left: 180px;top:-20px;text-align: center;}
#w_no_on ul li{display:block;font-size:13px; font-weight:bold; margin:10px 0px; color:#005893;}
#w_basic{position:absolute;width:94px;left: 310px;top:-20px;text-align: center;  }
#w_basic ul li{display:block;font-size:13px; font-weight:bold; margin:10px 0px; color:#cdcdcd;margin-left:25px;*margin-left:30px !important; _margin-left:16px;}
#w_basic_on{position:absolute;width:94px;left: 310px;top:-20px;text-align: center;}
#w_basic_on ul li{display:block;font-size:13px; font-weight:bold; margin:10px 0px; color:#005893;margin-left:25px;*margin-left:30px !important; _margin-left:16px;}
#w_more{position:absolute;width:94px;left: 435px;top:-20px;text-align: center;}
#w_more ul li{display:block;font-size:13px; font-weight:bold; margin:10px 0px; color:#cdcdcd;line-height:12px;margin-left:-40px; width:200px;}
#w_more_on{position:absolute;width:94px;left: 435px;top:-20px;text-align: center;}
#w_more_on ul li{display:block;font-size:13px; font-weight:bold; margin:10px 0px;margin-left:-40px; width:200px; color:#005893;line-height:12px;}

.selectframe{display:none; border:2px #929292 solid; /*background:#BDC0B4;*/background:#E7E7E7;width:380px;  margin:-16px 5px 0px 120px; *margin:-16px 5px 0px 135px; padding:10px;filter: alpha(opacity=80);-moz-opacity:0.8;opacity: 0.8;}
.selectarrow{ position:absolute; background:url(../images/i_select_arrow.gif) no-repeat; width:20px; height:10px; top:96px; left:40px; *top:99px; }
.i_wifi_img{ background:url(../images/i_wifi.gif) no-repeat; width:56px; height:33px; position:absolute; left:80px; top:8px; }
.i_firewall_img{background:url(../images/i_firewall.gif) no-repeat; width:40px; height:40px; top:15px; position:absolute; left:80px;}
/* for wireless ending */

.linking{color:#045097;text-decoration:underline;cursor:pointer;}


/* Slider----------------------------------*/
.ui-slider { position: relative; text-align: left; cursor:pointer;}
.ui-slider .ui-slider-handle { position: absolute; z-index: 200; cursor:pointer; background:url(../images/i_draw_icon.gif); width:21px;height:21px;}
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; }

.ui-slider-horizontal { height:20px; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }
.selectBorder2{border: 5px solid #0E0;}

/*down_message*/
.downmessage{position:absolute;left:5%;_left:10%; background:#000;height:101px;bottom:20px;width:90%;z-index: 80000100; border:#FFF 2px solid; alpha(opacity=80);-moz-opacity: 0.8; 	opacity: 0.8;}
.downmessage ul li{ float:left; display:block;}
.downmessage ul li.downleft{ display:block; width:20px; height:101px;}
.downcenter{ display:block; width:80%;height:101px; color:#CCC;}

/* Troubleshooting----------------------------------*/
#popup_win3{position:absolute;width:700px;height:360px;z-index:21;}
#popup_win3 ul li{ float:left;}
.popup_title3{ display:block;width:98%; font-size:14px; color:#FFFFFF; font-weight:bold; font-weight:bold; }
.popup_word3{display:block;width:98%;font-size:12px; color:#FFFFFF; padding-left:5px; line-height:15px; }
#wrapper2{ position:relative; width:700px; height:360px; margin:0 auto; margin-top:10%;}
#popup3{position:absolute;width:700px;height:360px;z-index:1;}
#popup2{position:absolute;width:780px;height:433px;z-index:20;background-image:url(../images/popup_bg.png); display:none; /*visibility: hidden;*/}
#popup_win2{position:absolute;width:700px;margin:0 40px;height:360px;margin-top:30px;z-index:21; display:none;/*visibility: hidden;*/}
#popup_win2 ul li{ float:left;}
.popup_left2{ display:block; width:25px; height:360px;background-image:url(../images/popup2_left.png);}
*>.popup_left2{  background-image:url(../images/popup2_left.png);}/* for ff */
.popup_center2{display:block; width:650px;height:360px;background-image:url(../images/popup2_center.png);}
*>.popup_center2{background-image:url(../images/popup2_center.png); width:650px;}/* for ff */
.popup_right2{display:block;  width:25px; height:360px;background-image:url(../images/popup2_right.png);}
*>.popup_right2{background-image:url(../images/popup2_right.png);}/* for ff */
.popup_title2{ display:block;width:630px; font-size:16px; color:#FFFFFF; font-weight:bold; font-weight:bold; text-align:center; margin-top:20px;}
.popup_word2{display:block;width:630px;font-size:12px; color:#FFFFFF; padding-left:10px;}
.step1{display:block; width:90%; border:5px solid #aac6ca; background:#ededed; margin:0 auto; margin:10px 2%; color:#000000; padding:10px 10px;}


/* Traffic for WAN---------------------------------*/
.sent{ display:block; font-weight:bold; width:200px;margin-left:15px; overflow:hidden; text-align:right;}
html* .sent{display:block; font-weight:bold; top:130px; left:60px; width:200px; margin-left:15px;word-break:break-all;}
.sent span{ display:block;}
.received{display:block;font-weight:bold;width:200px;overflow:hidden;}
html* .received{display:block;font-weight:bold; top:130px; right:40px; width:200px; word-break:break-all;}
.received span{ display:block;}
.nat_1{position:relative;   width:131px; margin-left:10px; margin-right:20px; }
.nat_1 span{ position:absolute; no-repeat;;width:57px;height:55px; left:90px; top:40px;}
/* Verzion Zone---------------------------------*/
.w_text a.vz{ font-size:14px; line-height:15px; text-decoration:underline; color:#0b70fc; font-weight:bold;}
.w_text a.vz:hover{text-decoration:none;}
/*table sorter*/
table.tablesorter thead tr .header  .sortImg { background-image: url(../images/t_bg.gif); background-repeat: no-repeat;cursor: pointer; background-position: right;  padding-right: 5px; margin-right: -8px;  }
table.tablesorter thead tr .headerSortUp  .sortImg {background-image: url(../images/t_asc.gif);}
table.tablesorter thead tr .headerSortDown  .sortImg{background-image: url(../images/t_desc.gif);}
/*textOverflow*/
 .textOverflow {text-overflow: ellipsis;-o-text-overflow: ellipsis;white-space: nowrap;overflow: hidden;margin-bottom: 15px;}
 
 /*vd tooltip*/
#tooltip {position: absolute;z-index: 3000;border: 1px solid #111;background-color: #eee;padding: 5px;opacity: 1;}
#tooltip h3, #tooltip div { margin: 0; font-size: 7pt;}



/*new*/
.centerDiv{width: 100%; height:100%; margin: 0 auto; position:relative; z-index:1; }
/*west menu*/
div.scrollable { /* required settings */  position:relative;overflow:hidden; height:445px; margin: 0 auto; width: 110px; border: solid 1px green;} 
div.scrollable ul.items { /* this cannot be too large */ width:110px; height: 20000em; margin-left:px;position:absolute; float:left; } 
.menu_position{position:relative;background:url(../images/menu_bg.jpg);width:100%;margin:0 auto;border-left:#147fbf 4px solid;border-right:#147fbf 4px solid;border-bottom:#147fbf 4px solid;margin-top:0px;}
.browse{position:relative; width:26px; height:26px; margin: 0 auto;}
.browse.left{background:pink;   }
.browse.right{background:yellow; }

.outer-west{background:url(../images/center_bg.gif); }
.header_position_index{position:relative;border-left:#147fbf 4px solid;border-right:#147fbf 4px solid;border-top:#147fbf 4px solid;width: 100%;margin: 0 auto;margin-top:30px;height:72px;background:url(../images/top_bg.gif);}
/*Header end*/


.menuItem .subMenuMark{position:absolute; background:url(../images/collapsed.gif); width:18px; height:18px; right:0px; margin-top:30px; cursor:default;}

