@charset "utf-8";

.help_link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    color: #999;
    text-decoration: underline;
}

.hint {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    color: #999;
}

.logotxt {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    font-style: normal;
    color: #09F;
}

#apDiv1 {
    /*position: absolute;*/
    left: 68px;
    top: 205px;
    width: 70px;
    height: 21px;
    z-index: 1;
}

.innerBanner {
    /*padding: 10px;*/
    height: 50px;
}

.innerData {
    /*padding: 10px;*/
    font-size: 14px;
    font-style: normal;
	color: #0080ff;
	/*border-style: solid;
	border-width: thin;
	border-color: #808080;*/
}

.tableTitle {
    /*padding: 10px;*/
    background:#bff4ff;
	
}

.tableInnerData{
	height:30px;
	font-size: 12px;
	color: #5f5f5f;
}

#tabs{
	font-size: 14px;
	height:600;
}
/*
.dialogClass {
	
	display:none;
	margin:0px;
	width:400px;
	height:200px;
	background: #bff4ff;
	-moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    opacity:0.6;  
    -moz-opacity:0.6; 
}
*/
.innerTableDiv {
	background: #bff4ff;
	/*opacity:0.2; */
	/*-moz-opacity:0.2; */
	width:100%;
	height:100%;
}
