/*@import url("reset.css");*/
/* Lan----------------------------------*/ 
#vd2628 .vdFrame{ position:relative; width:503px; height:350px; background:url(../images/i_vd.gif) no-repeat; margin:0 auto; color:#FFFFFF;}
#vd2628 .lanFrame{ position:absolute; top:130px; left:174px;width:176px; height:28px;}
#vd2628 .lanFrame ul li{float:right;display:block;margin-top:11px;text-align:center;width:41px;height:32px;font-size:7px;line-height:15px;position:relative;margin-right: -2px;}
#vd2628 .lanname{position:relative;width:440px;height:25px;line-height:25px;top:210px;left: 65px;}
#vd2628 .lanname ul li{ float:right; display:block;}
#vd2628 .lanname ul li.dslname{ margin-right:58px;}
#vd2628 .lanname ul li.lannamearea{ margin-left:6px;}
#vd2628 .lanname ul li.wanname{ margin-left:18px;}
#vd2628 .lanname ul li.wifiSignalname{ margin-left:64px;}
#vd2628 .lan_on{background:url(../images/earthnet.gif) no-repeat; display:block; width:33px; height:54px; }
#vd2628 .wifiSignal_off{ width:40px; height:38px; position:absolute; right:0px; top:25px;}
#vd2628 .wifiSignal_on{ background:url(../images/i_wifi_on.gif) no-repeat; width:40px; height:38px; position:absolute;  right:-2px; top:48px;}
#vd2628 .wan_on{ background:url(../images/wan.gif); width:41px; height:32px; position:absolute; right:110px; top:141px;}
#vd2628 .dslline_on{ background:url(../images/wan.gif); width:41px; height:32px; position:absolute; left:98px; top:141px;}
/* Traffic for WAN---------------------------------*/
#vd2628 .sent{ display:block; font-weight:bold; top:130px; left:60px; width:200px; margin-left:15px; overflow:hidden; text-align:right;}
html* #vd2628 .sent{display:block; font-weight:bold; top:130px; left:60px; width:200px; margin-left:15px;word-break:break-all;}
#vd2628 .sent span{ display:block;}
#vd2628 .received{display:block;font-weight:bold; top:130px; right:40px; width:200px;overflow:hidden;}
html* #vd2628 .received{display:block;font-weight:bold; top:130px; right:40px; width:200px; word-break:break-all;}
#vd2628 .received span{ display:block;}
#vd2628 .nat_1{position:relative; background:url(../images/i_router.gif); height:90px; width:131px; margin-left:10px; margin-right:20px; }
#vd2628 .nat_1 span{ position:absolute;background:url(../images/i_internet.gif) no-repeat;;width:57px;height:55px; left:90px; top:30px;}
