<!DOCTYPE html>
<html>
<head>
    <title>Backbone.js example</title>
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
</head>

    <script src="jquery-1.7.2.min.js"></script>
    <script src="underscore-1.3.1.js"></script>
    <script src="backbone.js"></script>
    
    <script>
$(function(){

var compiled = _.template("hello: <%= name %>");
var aa = compiled({name : 'moe'});
//=> "hello: moe"

var list = "<% _.each(people, function(name) { %> <li><%= name %></li> <% }); %>";
var bb = _.template(list, {people : ['moe', 'curly', 'larry']});
//=> "<li>moe</li><li>curly</li><li>larry</li>"

var compiled = _.template("<% print('Hello ' + epithet); %>");
var cc = compiled({epithet: "stooge"});
//=> "Hello stooge."

debugger;


});


    </script>
    <a href="http://blog.wu-boy.com/2012/04/backbonejs-framework-tutorial-example-1/"> tutorial 1</a>
    
    <body>
    <div class="app">

        <input type="text" name="todo" value=""><br /><button class="btn btn-primary" id="add-friend">Add Friend</button>
   
    </div>
    
</body>
</html>