	div.pane{
		//overflow:hidden;
		clear:left;
		border: solid 1px black;
		
		width:500px;
		height:500px;
	}

.scrollMenu {margin:0px;}
.scrollMenu  .focusItem{border: solid 2px black;}

.scrollMenu li {list-style-type: none; border:0px;position: relative;}

.scrollMenu .menuItem{border: solid 1px red; width:100px; height:100px;position: relative;}
