<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Style sheet-->
    <link href="css/normalize.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="cmps/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="cmps/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="cmps/jquery-ui/css/hot-sneaks/jquery.ui.theme.css" rel="stylesheet" media="screen">
    <link href="css/dashboard.css" rel="stylesheet" type="text/css" />
  
    <!--Script-->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="cmps/jquery-ui/js/jquery-ui-1.9.1.custom.min.js"></script>
    
    <script src="js/underscore-1.3.1.js"></script>
    <script src="js/backbone-min.js"></script>
    <script src="js/backbone.localstorage.js"></script>
    
    <script src="cmps/jquery-ui/js/jquery-ui-1.9.1.custom.min.js"></script>
    <script src="cmps/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/require.js"></script>
    <script src="js/zyDDPanel2.js"></script>
    <script src="js/jquery.portletDlg.js"></script>
    
<script type="text/template" id="addPortlet-template"> 
    <div class="btn-group">
        <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
            Add Portlet
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">

        </ul>
    </div>
 </script>       
        
<script type="text/template" id="addPortletItem-template">
    <li>
        <a href="javascript:void(0)" type="<%- type %>">  <%- title %> </a>
    </li>
</script>


<script src="js/dashboard.js"></script>
 <script type="text/javascript">
    $(function(){
        
       

        
    });
    
</script>

<style>
.modal.fade{
    -webkit-transition: opacity .01s linear, none;
    -moz-transition: opacity .01s linear, none;
    -ms-transition: opacity .01s linear, none;
    -o-transition: opacity .01s linear, none;
    transition: opacity .01s linear, none;
    top: 50%;
}

.fullPortlet.modal.fade{
    top: 350px;
}

.fullPortlet.modal.fade.in {
    top: 350px;
}


  
#columns .widget .widget-content {
max-height:250px; overflow: auto;
}
</style>

</head>


<body>  


    <!-- Menu BAR -->  
    <div class="navbar navbar-inverse navbar-fixed-top" >
 
      <div class="navbar-inner" >
        <div class="container-fluid" style=" background: url('./images/blurry-lights-background.jpg'); height:80px;">
            <div class="row-fluid " style="">
                <div class="span12" style="">
                <!--Sidebar content-->
                     <h3 style="height:30px;">Project Name & Icon</h3>
                </div>
            
                <div class="span10">
                <!--Body content-->
              
                </div>
            </div>
        </div>
        
        <div class="container-fluid menubar">
        
        
          <!--a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!--a class="brand" href="#">--</a-->
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link" id="userName">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
               
            </ul>
          </div>
          
          
        </div>
      </div>
    </div>
    <!--   -->
   
   <div class="container-fluid " style=" margin-top:95px;  margin-bottom:200px; position:relative;">
  
    <div class="" style=" width:100%; margin: 0 auto; ">
        <div  class="" style=" width:95%; margin: 0 auto; margin-bottom:10px;">
            <div id="addPortletCtl"  style="width:300px; float:left;  padding-left:5px;"></div>
            
            <div class="btn-group">
                <button class="btn" id="debugBtn">debug</button>
                <button class="btn" id="getPortletPoolBtn">get PortletPool</button>
                <button class="btn" id="getPortletPosMapBtn">get PortletPosMap</button>
                <button class="btn" id="restore2DefaultBtn">restore to default</button>
                <button class="btn" id="clearAllPortletsBtn">clear all</button>
            </div>
        </div>
    </div>

    <!--   -->
   <div class="" style="width:100%;">
   
      <div id="columns" class="  "  style= " margin-top:0px; margin:0 auto; width:96%; ">
      
        <ul class="column" style="width:98%; "></ul>
		
        <ul  class="column" style="width:49%;">
            <!--PORTLET-->
			<!--
            <li class="widget ui-widget">  
                <div class="widget-head ui-widget-header ui-corner-all myheader">
                  
                    <h3>Widget title</h3>
                </div>
                
                <div class="widget-content ui-widget-content">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam magna sem, fringilla in, commodo a, rutrum ut, massa. Donec id nibh eu dui auctor tempor. Morbi laoreet eleifend dolor. Suspendisse pede odio, accumsan vitae, auctor non, suscipit at, ipsum. Cras varius sapien vel lectus.</p>
                </div>
            </li>
			-->
             <!--PORTLET-->
        </ul>
        
        <ul  class="column" style="width:49%;">
            <!--PORTLET-->
			 <!--
            <li class="widget ui-widget">  
                <div class="widget-head ui-widget-header ui-corner-all myheader">
                  
                    <h3>Widget title</h3>
                </div>
                
                <div class="widget-content ui-widget-content">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam magna sem, fringilla in, commodo a, rutrum ut, massa. Donec id nibh eu dui auctor tempor. Morbi laoreet eleifend dolor. Suspendisse pede odio, accumsan vitae, auctor non, suscipit at, ipsum. Cras varius sapien vel lectus.</p>
                </div>
            </li>
			-->
            <!--PORTLET-->
            <!--PORTLET-->
			<!--
            <li class="widget ui-widget">  
                <div class="widget-head ui-widget-header ui-corner-all myheader">
                  
                    <h3>Widget title</h3>
                </div>
                
                <div class="widget-content ui-widget-content">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam magna sem, fringilla in, commodo a, rutrum ut, massa. Donec id nibh eu dui auctor tempor. Morbi laoreet eleifend dolor. Suspendisse pede odio, accumsan vitae, auctor non, suscipit at, ipsum. Cras varius sapien vel lectus.</p>
                </div>
            </li>
			-->
            <!--PORTLET-->
            <!--PORTLET-->
			<!--
            <li class="widget ui-widget">  
                <div class="widget-head ui-widget-header ui-corner-all myheader">
                  
                    <h3>Widget title</h3>
                </div>
                
                <div class="widget-content ui-widget-content">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam magna sem, fringilla in, commodo a, rutrum ut, massa. Donec id nibh eu dui auctor tempor. Morbi laoreet eleifend dolor. Suspendisse pede odio, accumsan vitae, auctor non, suscipit at, ipsum. Cras varius sapien vel lectus.</p>
                </div>
            </li>
			-->
            <!--PORTLET-->
        </ul>

		
         <ul class="column" style="width:98%; "></ul>
       
     </div>
	 
	  
    </div>
     
	 
     
	  
    </div>
    
	
	  

         
      <footer class="navbar-fixed-bottom " style="  box-shadow:4px 4px 12px 5px rgba(20%,20%,40%,0.5);">
        <div style="background: #000000; height:30px; line-height:30px; position:relative;">
         <!--hr style=" top:-20px; position:absolute; width:100%;height:30px;"-->
           <p style="color:#eaeaea; margin-left:5px;">&copy; Company 2012</p>
        <div>
      </footer>
    
<!--OTHERS UI-->
 <div class="modal hide fade fullPortlet"  id="fullPortlet" style="width:80%; height:auto;">
  
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> << Back </button>
    <h3 class="modal-title">portlet title</h3>
    </div>
    <div class="modal-body">
    <p></p>
    </div>
    <div class="modal-footer"> </div>
 
 </div>
 
    
    
<div class="modal hide fade"  id="confirmRemoveModal">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Modal header</h3>
    </div>
    <div class="modal-body">
    <p>Remove this Portlet ?</p>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn cancel">Cancel</a>
    <a href="#" class="btn btn-primary ok">OK</a>
    </div>
</div>


<div class="modal hide fade"  id="debugModal">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Modal header</h3>
    </div>
    <div class="modal-body">
    <p></p>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn btn-primary ok">OK</a>
    </div>
</div>
    
</body>

</html>