/* The Cytoscape Web container must have its dimensions set. */
html,body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

#cytoscapeweb {
	width: 70%;
	height: 70%;
	border: solid 1px red;
}
/*
#cytoscapeweb {
	width: 500px;
	height: 500px;
	border: solid 1px black;
}*/

.menu {
   border: solid 1px green;
   background: gray;
   position:absolute;
   margin: 0;
	padding: 0;
	cursor: default;
	
}

.menu, .menu ul
{
	list-style: none;
	margin: 0;
	padding: 2px;
	border: 1px solid black;
	background-color: #eee;
	min-width: 100px; /* ie doesnt know this :/ */
	//float: left;/*ie again*/
	//width: 100%;/*and again*/
}

.menu li li
{
	margin: auto 0;
	position: relative;
	padding: 0 -20px 0 2px;
	/*white-space: nowrap; does not really work in ie */
}

.menu li:hover
{

color:#eeeeee;
	width:100%;
	z-index: 1 !important; /* the hover z-index has to be below the normal one the hovering items may be drawn over a submenu */
	background-color: #aaa;
	cursor:pointer;
}

.menu li.title
{
padding: 0 -20px 0 2px;
color:black;
border:solid 1px black;
background-color: #ccc;
cursor:default;
}

.menu li.title:hover
{

}

.menu li a:hover
{

}

.radarView{
margin:0 0 0 0;
padding:0 0 0 0;
 background:gray;
 position:relative;
 overflow:hidden;
 
}
img
{

left:0px;
top:0px;
z-index:-1;
} 


.radarSelector{
z-index:100;
margin:0 0 0 0;
padding:0 0 0 0;
background:url(../images/b.gif);
cursor: move;


border: solid 1px red;
position:absolute;
}

#timeDiv{color:red;}