
/* DDPanel CSS */
/* Reset */
body,img,p,h1,h2,h3,h4,h5,h6,ul,ol {margin:0; padding:0; list-style:none; border:none;}
/* End Reset */

body {font-size:11px; font-family:Tahoma, Arial,Verdana,Sans-Serif; /*background: #ababab;*/}

/* Colors */
.widget {background:#6e6e6e;}
.widget h3 {color:#FFF;margin-left:3px;}
/* End Colors */

/* Columns section */
#columns {
 width:100%;
}
#columns .column {
    float: left;
    width: 50%;
	/* Min-height: */
	min-height: 400px;
	height: auto !important; 
	height: 400px;
}

   
#columns .column { padding-bottom:20px;}

#columns .column .widget { margin: 0px 5px 10px 5px; }


#columns .widget {
    /*margin: 30px 20px 0 20px;*/
    /*set panel border*/
	padding: 1px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#columns .widget .widget-head {
    /*color: #000;*/
    overflow: hidden;
    width: 100%;
    height: 22px;
    line-height: 20px;
	/*background:url(../images/db_header.gif);*/
}
#columns .widget .widget-head h3 {
    padding-left:6px;
	font-size:11px;
    float: left;
}
#columns .widget .widget-content {
    /*background: #fff;*/
    padding: 5px 0;
    /*color: #000;*/
	/*border:1px solid #d8d8d8;*/
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    line-height: 1.2em;
    overflow: hidden;
}
#columns .widget .widget-content tr.title {font-weight:bold;}
#columns .widget .widget-content td {padding:3px 6px;}
#columns .widget .widget-content td .alarm {color:#F00;}
#columns .widget .widget-content pre {
    padding: 0.5em 5px;
    color: #EEE;
    font-size: 11px;
}
#columns .widget .widget-content ul {
    padding: 5px 0 5px 20px;
    list-style: disc;
}
#columns .widget .widget-content ul li {padding: 3px 0;}
#columns .widget .widget-content ul.images {
    padding: 7px 0 0 0;
    list-style: none;
    height: 1%;
}
#columns .widget .widget-content ul.images li {
    display: inline;
    float: left;
}
#columns .widget .widget-content ul.images img {
    display: inline;
    float: left;
    margin: 0 0 7px 7px;
}
.col {background:#f0f0f0;}
.topnbar {display:block;width:100%;height:14px;position:relative;}
.topnbar .fail {display:block;width:80%;height:14px;border:1px solid #a51b1b;position:absolute;top:0;left:0;}
.topnbar .fail .show {background:url(../images/pbar_red.gif);height:14px;}
.topnbar .warn {display:block;width:80%;height:14px;border:1px solid #bb7515;position:absolute;top:0;left:0;}
.topnbar .warn .show {background:url(../images/pbar_yellow.gif);height:14px;}
.topnbar .normal {display:block;width:80%;height:14px;border:1px solid #1f8305;position:absolute;top:0;left:0;}
.topnbar .normal .show {background:url(../images/pbar_green.gif);height:14px;}
.topnbar .per {display:block;width:20%;position:absolute;top:0;right:0;text-align:center;line-height:14px;}
/* End Columns section */

